body{
    margin-top:20px;
    background:#C6824B;
}
.card {
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 15px 1px #1a1919;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ece5e5;
    background-clip: border-box;
    border: 1px solid #0a0a0a;
    border-radius: .2rem;
}
.card-header:first-child {
    border-radius: calc(.2rem - 1px) calc(.2rem - 1px) 0 0;
}
.card-header {
    border-bottom-width: 1px;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: #000000;
    border-bottom: 1px solid #000000;
}
.circle-container {
    position: relative;
    overflow: hidden;
    display: inline-block;

  }

  .circle-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: #000000;
  }

  .icon-overlay {
    position: static;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  input[type="file"] {
    display: none;
  }